/*-- scss:rules --*/

.green-row td {
  background-color: #d4edda;
}

.amber-row td {
  background-color: #fff3cd;
}

.red-row td {
  background-color: #f8d7da;
}

tr:nth-child(1),
td {
  background-color: #d4edda; /* Green */
}

tr:nth-child(2),
tr:nth-child(3),
tr:nth-child(4) td {
  background-color: #fff3cd; /* Amber */
}

tr:nth-child(5),
tr:nth-child(6) td {
  background-color: #f8d7da; /* Red */
}